/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#offer-banner {
    background-image:url("/rdentalgroup/images/dentalpatient.jpg");
    background-size: cover;
}
.bold {
    font-weight: 700
}
.medium {
    font-weight: 500;
}

.form-container {
    padding-left: 20px;
    padding-right: 20px;
}

.no-margin {
    margin: 0 !important;
}

#submit-button {
    margin-right: 20px;
}



.services-list li > i{
    vertical-align: bottom;
    padding-top: 10px;
}

.services-list {
    font-weight: 500
}



.about-clinic {
    height: 350px;
}

.about-clinic-card {
    height: 350px;
    background-image: url("/rdentalgroup/images/clinic-tools.png");
    background-size: cover;
    
}

.side-margin {
    margin-left: 10px;
    margin-right: 10px;
}
ul.services-list li > i {
    padding: 2.5px;
}




.meet-img-3 {
    background-image: url("/rdentalgroup/images/meet3.jpg");   
}
.meet-img-2 {

    background-image: url("/rdentalgroup/images/meet2.jpg");
    
}
.meet-img-4 {
    background-image: url("/rdentalgroup/images/meet4.jpg");
}

.meet-img {
    background-size: cover;
    height: 250px
}



.quote > i {
    font-size: 80px;
    line-height: 0;
}


.test-header {
        line-height: 1.2;
        width: 80%;
}

.model-image {
    background-image: url("/rdentalgroup/images/teeth-model.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
}

body {
  direction: rtl; }

.input-field label {
  right: 0.75rem; }

.input-field .prefix ~ input,
.input-field .prefix ~ textarea {
  margin-right: 3rem; }

.input-field .prefix ~ label {
  margin-right: 3rem; }

.collapsible-header i {
  float: right; }

form p {
  text-align: right; }

[type="checkbox"] {
  /* checkbox aspect */ }
  [type="checkbox"] + label {
    padding-right: 35px; }
  [type="checkbox"] + label:before {
    right: 0; }

[type="checkbox"]:checked {
  /* checkbox aspect */ }
  [type="checkbox"]:checked + label:before {
    right: 10px; }

[type="checkbox"].filled-in + label:before {
  right: 10px; }

[type="checkbox"].filled-in + label:after {
  right: 0; }

[type="radio"] {
  /* radio aspect */
  /* radio aspect */ }
  [type="radio"] + label {
    padding-right: 35px; }
  [type="radio"] + label:before {
    right: 0; }
  [type="radio"] + label:after {
    right: 0; }

.row .col {
  float: right; }

.file-field .file-path-wrapper {
  padding-right: 10px; }

.file-field .btn {
  float: right; }

span.badge {
  left: 15px;
  right: inherit; }

.dropdown-content li {
  text-align: right; }

.secondary-content {
  float: left; }

.breadcrumb:before {
  content: '\E5CB'; }

.collection .collection-item.avatar {
  padding-left: 0;
  padding-right: 72px; }
  .collection .collection-item.avatar .circle {
    right: 15px;
    left: auto; }
  .collection .collection-item.avatar .secondary-content {
    left: 16px;
    right: auto; }

.collection.avatar {
  padding-right: 72px;
  padding-left: auto; }
  .collection.avatar .secondary-content {
    left: 16px; }

.select-wrapper span.caret {
  right: auto;
  left: 0; }

.chip img {
  float: right;
  margin: 0 -8px 0 12px; }

.chip i.material-icons {
  float: left;
  padding-right: 8px;
  padding-left: 0; }



.quote {
    line-height: 0;
}
.nav-logo {
    width: 240px;
    margin: 10px;
}
.exit {
    position: absolute;
    margin: 5px;
}

.call-now {
    font-size: 2.2rem;
    padding: 10px;
}
.test-header {
        width: 90%;
}
.no-line {
    line-height: 1;
}
.nav-phone {
    padding: 0px 2px 0px 10px;
}
@media only screen and (max-width: 600px) {
  #index-banner div div {
    text-align: center;
  }
    .modal {
        width: 95% !important;
        max-height: 90% !important;
        top: 10% !important;
    }
  
    .test-header {
        width: 100%;
}
    .nav-logo {
    width: 150px;
    margin: 13px;
}
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .nav-logo {
    width: 10em;
    margin: 0.2em;
}
}
@media only screen and (min-width: 993px) {
  .video-align {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
    .test-header {
        width: 90%;
}
    .container {
        width: 85% !important;
    }
}
